# dependencies
node_modules/
.venv/

# Next.js
.next/
out/

# build
dist/

# env
.env
.env.local

Learn-Japanese-vocabulary-and-Grammar-efficiently/
jp_app_merge_resolve/
merge_resolve/
tmp/

tsconfig.tsbuildinfo
